header {
    background-color: hsl(0, 0%, 11%);
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0; /* Add this line to remove the margin */
}
  
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
  
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
